<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geocode result</title>
</head>
<body>
<p th:text="${coordinates.lat}"></p>
<p th:text="${coordinates.lng}"></p>
<iframe th:src="${url}"></iframe>
</body>
</html>